/* Variables */
:root{
    --black : #1E1E1E;
    --pink : #E9CECB;
    --green : #255B4D;
    --rose  : #92564f;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* Base styles */
body{
    background: var(--pink);
    overflow-x: hidden; 
    font-size: 12px;
    font-family: 'Jost', sans-serif;
   
}
section,article{
margin: 80px 15px;
width: 100%;
justify-self: center;
align-self: center;
}

 #container{
    display: flex;
   flex-direction: column;
   justify-content: center;

 }
/* mobile styles */

header, .hero--secondary{
    display: none;
}
/*section 1 : banner + wrapper */
h1, .hero__heading{
    font-size: 3.4em;
    color:var(--black);
    width: 95%;
    padding-bottom: 20px;
}
h2{
    font-size: 2.2em;
    text-align: center;
}
.front_title, .back_title{
    color: var(--green);
    font-family: 'Italiana', serif;
}
#banner{
    width: 100%;
    /* max-width: 1000px; */
    margin: auto 0;
}
/* section 2 : à propos de moi */
p:not(.hero__heading){
    font-size: 1.5em;
    text-align: center;
    margin: 15px 0;
    width: 100%;
}
#a_propos{
    width: 80%;
    max-width: 900px;
   justify-self: center;
}
/* section 3 : skills */
#skills-container{
    width: 100%;
    font-size: 1.5em;
}
.line-1 span {
    color: var(--green);
  }
  
.line-2 span {
    color: var(--rose);
  }
  
  .line-1,
  .line-2 {
    font-family: sans-serif;
    display: inline-block;
    white-space: nowrap;
    animation: floatText 25s infinite linear;
    padding: 1em;
    font-size: 30pt;
    font-weight: bold;
  }
  
  .line-2 {
    animation-delay: 2s;
  }
  
  .line-1:hover,
  .line-2:hover {
    animation-play-state: paused;
  }
  
  @keyframes floatText {
    to {
      transform: translateX(-100%);
    }
  }
  
/* section 4 : projets */
#projets{
    display: flex ;
    flex-direction: column;
    justify-items: center;
    place-items: center;
}

#projets_display{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 1.6em;
    font-family: 'Italiana', serif;
    margin-bottom: 10px;
}
.gallery-item{
    width: 70%;
    margin-top: -25px;
}
.gallery-item p{
    font-size: 1.1em;
}

.gallery-item figure{
    width: 100%;
}

.gallery-item figure img{
    width: 100%;
}

/* footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-social {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
  .wrapper-social .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper-social .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper-social .fab{
    color: var(--pink);
  }
  .wrapper-social .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper-social .fab:hover{
    color: white;
  }
  .wrapper-social .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper-social .icon:hover span,
  .wrapper-social .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(231, 220, 220, 0.1);
  }
  
  .wrapper-social .github:hover,
  .wrapper-social .github:hover .tooltip,
  .wrapper-social .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .wrapper-social .linkedin:hover,
  .wrapper-social .linkedin:hover .tooltip,
  .wrapper-social .linkedin:hover .tooltip::before {
    background: #0a66c2;
    color: #ffffff;
  }
/* small tablet styles */
@media only screen and (min-width: 620px) and (max-width: 799px){
 body{border: 2px green solid;
    font-size: 13px;
 }
h1{
    font-size: 65px;
}
/* section 4 : projets */
.gallery-item{
    width: 50%;
}
 
}
/* large tablets & laptop styles */
@media only screen and (min-width: 800px) and (max-width: 966px){
    body{
        font-size: 15.5px;
        border: 2px violet solid;
    }
 
    h1{
        margin: 0 0 0 25px;
    }


    /* section 4 : projets */
#projets_display{
    flex-direction: row;
    flex-wrap: wrap;
}
.gallery-item{border: 2px red solid;
    width: 38%;
    height: 400px;
}
.gallery-item figure{
    height: 215px;
    overflow: hidden;
}
}

/* desktop */
@media only screen and (min-width: 967px){
    body{
        border: 2px orangered solid;
        font-size: 16px;
    }
    /* header*/

    header{
        display: inline-block;
        margin-top: 3%;
        width: 100%;
    }
    nav{
        display: flex;
        justify-content: flex-end;
    }
    #navigation{
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        width: 50%;
        justify-content: space-around;
    }
    #navigation li a{
        color: var(--black);
        font-size: 1.5em;
        font-weight: 500;
        font-family: 'Italiana', serif;
        
    }
    /* header animation*/
   
    .wrapper {
        position: relative;
        margin: 0;
        padding: auto;
    }
   
    
    .hero { border: 1px var(--green) solid;
        border-radius: 25px;
        min-height: 100vh;
        padding: clamp(1rem, 2vw, 5rem);
        display: flex;
        align-items: center;
        width: 100%;
    }
    .hero--secondary {
        --mask: radial-gradient(circle at var(--x, 50%) var(--y, 50%), black 25%, transparent 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #255B4D;
        color: #E9CECB;
        -webkit-mask-image: var(--mask);
        mask-image: var(--mask);
        display: block;
        padding-top: 16%;
    }


    .back_title{
        color: var(--pink);
    }
    .hero__heading {
            width: 100%;
            font-size: 80px;
            margin: 0;
        
        }
    /* banner*/
    #banner{
        margin-top: 5%;
    }
    /* a propos de moi*/
    #a_propos{
        width: 50% ;
    }
    /*projets*/
    #projets_display{
        flex-direction: row;
        justify-content: space-around;
        max-width: 90%;
    }
    .gallery-item{ border: 1px orangered solid;
        width: 42%;
        height: 500px;
        
    }

    .gallery-item figure{
        border: 1px purple solid;
        width: 100%;
        height: 280px;
        overflow: hidden;
    }

    .gallery-item figure img{
    width: 100%;
    height: 100%;
    }
}