@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Alata', sans-serif;
    background: #042A2B;
}
.container {
display: flex;
flex-direction: row-reverse;
justify-content: center;
height: 79vh;
margin: 5%;
}

/* ------------ Style -------------- */
.uppercase{
    text-transform: uppercase;
}
.pastel{
    color: #C2EABA;
}
.vert{
    color:#042A2B;
}
.align-center{
    align-self: center;
}
/*--------- log out ----------*/
header{
  margin-left: 2%;
}
header form button{
  border: 0;
  font-size: 1em;
  opacity: 0.9;
  cursor: pointer;
}
.fa-arrow-right-from-bracket{
  color: #042A2B;
}
.fa-arrow-right-from-bracket:hover {
  transform: scale(1.1);
  transition: all .3s ease-in;
}

/*----------participants--------------*/
.participants {
  background: #F9FBFF;
  opacity: 0.5;
  width: 20%;
  margin-top: 4%;
  height: 400px;
  border-radius: 10px 0 0 10px;
  box-shadow: -5px 5px 10px rgba(#777777, .5);
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile ul{
  margin-left: 5%
}
.profile p{
  margin-top: 2%;
  color: #042A2B;
  font-size: 15px;
  width: 90%;
  padding-left: 25%;
}

/* -------------- chat box ------------------ */
.chatbox {
  width: 55%;
  height: 500px;
  border-radius: 10px;
}
.top-bar {
  width: 100%;
  height: 50px;
  background: #f9fbff21;
  border-radius: 10px 10px 0 0;
  display: flex;
}

/* nom du chat */
.name {
  text-transform: uppercase;
  color: white;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
  align-self: center;
  padding-left: 5%;
}

/* chat screen */
.middle { 
  background:white;
  width: 100%;
  opacity: 0.85;
  height: 400px;
}
.username{
  padding: 5px;
  width: 70%;
  color: #042A2B;
  font-size: 11px;
  margin-bottom: 5px;
}

.echange{ 
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  height: 400px;
}

.scroller {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;}
/* messages des autres */

.incoming {
  width: 50%;
  height: 100vw;
  padding: 20px;
  align-self: flex-start;
}

.message_other { 
  background-color: #042A2B;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  font-size: 13px;
  align-self: flex-start;
}

/* mes messages */

/* .outgoing {border: 2px blue solid;
  padding: 20px;
  width: 50%;
  height: 100%;
  align-self: flex-end;
} */

.message_mine { border: 2px green solid;
  background-color: #C2EABA;
  color: white;
  padding: 5px;
  border-radius: 20px;
  font-size: 13px;
  align-self: flex-end;
}

/* typing bar */
.bottom-bar {border: 2px #042A2B solid;
  width: 100%;
  height: 60px;
  background: #F9FBFF;
  border-radius: 0 0 10px 10px;
}
#message_form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
  padding: 7px;
  width: 84%;
  border: 0;
}

input::placeholder {
  color: #042A2B;
}

input:focus {
  outline: 0;
}
/* icon envoyer */
.fa-paper-plane {
    padding: 18px;
    opacity: 1;
    color: #042A2B;
}
.fa-paper-plane:hover {
      transform: scale(1.1);
      transition: all .3s ease-in;
}
.chat button {
  border: 0;
  font-size: 1em;
  opacity: 0.8;
  cursor: pointer;
}
cursor:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
  color: #C2EABA;
}
